@font-face {
  font-family: 'ArchivoRegular';
  src: url('../../fonts/Archivo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'ArchivoRegular', sans-serif;
  letter-spacing: 0.05em;
  font-size: 10pt;
}

*,
*::before,
*::after {
  font-family: 'ArchivoRegular', sans-serif !important;
  letter-spacing: 0.05em !important;
  font-size: 10pt;
}