@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-SemiBold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SuisseIntl', sans-serif;
  letter-spacing: 0.05em;
}

*,
*::before,
*::after {
  font-family: 'SuisseIntl', sans-serif !important;
  letter-spacing: 0.05em !important;
  font-weight: 600 !important;
}