.about-section {
  position: relative;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  overflow: hidden;
}


.about-content {
  max-width: 800px;
  text-align: center;
  z-index: 1;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.contact-links a:hover {
  opacity: 0.7;
}

.contact-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8rem;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.contact-links a:hover {
  transform: scale(1.1);
}

.contact-links i,
.contact-links img.vimeo-icon {
  width: 28px;
  height: 28px;
}

.contact-links img.vimeo-icon {
  filter: brightness(1000%);
}

#about .copyright {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 0.5px;
  font-family: 'Commissioner', sans-serif;
}

@media (max-width: 768px) {

  .about-section {
    padding: 0rem 1rem;
  }
  .about-content p {
    font-size: 10pt;
  }

  .about-content .copyright, 
  .about-content span{
    font-size: 10pt;
  }

}