#loading-screen {
  position: fixed;
  inset: 0;
  background: black;
  display: none;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-auto-rows: 40px;
  z-index: 10000;
  overflow: hidden;
}

#loading-screen .loading-tile {
  width: 40px;
  height: 40px;
  background-image: url('../../assets/img/x.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: loader-spin 2s linear infinite;
  margin: 0;

}

#loading-screen.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

@keyframes loader-spin {
  to { transform: rotate(360deg); }
}

#loading-screen .loading-tile.offset {
  transform: translateX(20px);
}
