  .bg-white {
    background-color: white;
    color: black;
  }

  .bg-black {
    background-color: black;
    color: white;
  }
  
  .theme-toggle {
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.8rem;
    z-index: 9999;
  }
  
  .theme-toggle button.active {
    transform: scale(1.3);
  }
